/* ---------------------------------------------------------------------------

    WARNING! File created programmatically. All changes made in this file will be lost!

    Created by the qtsass compiler v0.3.0

    The definitions are in the "qdarkstyle.qss._styles.scss" module

--------------------------------------------------------------------------- */
/* Light Style - QDarkStyleSheet ------------------------------------------ */
/*

See Qt documentation:

  - https://doc.qt.io/qt-5/stylesheet.html
  - https://doc.qt.io/qt-5/stylesheet-reference.html
  - https://doc.qt.io/qt-5/stylesheet-examples.html

--------------------------------------------------------------------------- */
/* QWidget ----------------------------------------------------------------

--------------------------------------------------------------------------- */
QWidget {
  background-color: #19232d;
  color: #e0e1e3;
  selection-background-color: #346792;
  selection-color: #e0e1e3;
}

QWidget:disabled {
  background-color: #19232d;
  color: #9da9b5;
  selection-background-color: #26486b;
  selection-color: #9da9b5;
}

QWidget::item:selected {
  background-color: #346792;
}

QWidget::item:hover:!selected {
  background-color: #1a72bb;
}

/* QMainWindow ------------------------------------------------------------
  
  This adjusts the splitter in the dock widget, not qsplitter
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qmainwindow
  
  --------------------------------------------------------------------------- */
QMainWindow::separator {
  background-color: #455364;
}

QMainWindow::separator:hover {
  background-color: #60798b;
}

QMainWindow::separator:horizontal {
  image: url(":/qss_icons/dark/rc/toolbar_separator_vertical.png");
}

QMainWindow::separator:vertical {
  image: url(":/qss_icons/dark/rc/toolbar_separator_horizontal.png");
}

/* QToolTip ---------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtooltip
  
  --------------------------------------------------------------------------- */
QToolTip {
  background-color: #346792;
  color: #e0e1e3;
}

/* QStatusBar -------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qstatusbar
  
  --------------------------------------------------------------------------- */
QStatusBar {
  background: #455364;
}

QStatusBar QToolTip {
  background-color: #1a72bb;
  color: #19232d;
  /* Reducing transparency to read better */
  opacity: 230;
}

QStatusBar QLabel {
  background: transparent;
}

/* QCheckBox --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qcheckbox
  
  --------------------------------------------------------------------------- */
QCheckBox {
  background-color: #19232d;
  color: #e0e1e3;
}

QCheckBox QWidget:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

QCheckBox::indicator:unchecked {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked.png");
}

QCheckBox::indicator:unchecked:hover,
QCheckBox::indicator:unchecked:focus,
QCheckBox::indicator:unchecked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked_focus.png");
}

QCheckBox::indicator:unchecked:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked_disabled.png");
}

QCheckBox::indicator:checked {
  image: url(":/qss_icons/dark/rc/checkbox_checked.png");
}

QCheckBox::indicator:checked:hover,
QCheckBox::indicator:checked:focus,
QCheckBox::indicator:checked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_checked_focus.png");
}

QCheckBox::indicator:checked:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_checked_disabled.png");
}

QCheckBox::indicator:indeterminate {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate.png");
}

QCheckBox::indicator:indeterminate:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate_disabled.png");
}

QCheckBox::indicator:indeterminate:focus,
QCheckBox::indicator:indeterminate:hover,
QCheckBox::indicator:indeterminate:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate_focus.png");
}

/* QGroupBox --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qgroupbox
  
  --------------------------------------------------------------------------- */

QGroupBox::indicator:unchecked {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked.png");
}

QGroupBox::indicator:unchecked:hover,
QGroupBox::indicator:unchecked:focus,
QGroupBox::indicator:unchecked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked_focus.png");
}

QGroupBox::indicator:unchecked:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked_disabled.png");
}

QGroupBox::indicator:checked {
  image: url(":/qss_icons/dark/rc/checkbox_checked.png");
}

QGroupBox::indicator:checked:hover,
QGroupBox::indicator:checked:focus,
QGroupBox::indicator:checked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_checked_focus.png");
}

QGroupBox::indicator:checked:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_checked_disabled.png");
}

/* QRadioButton -----------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qradiobutton
  
  --------------------------------------------------------------------------- */
QRadioButton {
  background-color: #19232d;
  color: #e0e1e3;
}

QRadioButton:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

QRadioButton QWidget {
  background-color: #19232d;
  color: #e0e1e3;
}

QRadioButton::indicator:unchecked {
  image: url(":/qss_icons/dark/rc/radio_unchecked.png");
}

QRadioButton::indicator:unchecked:hover,
QRadioButton::indicator:unchecked:focus,
QRadioButton::indicator:unchecked:pressed {
  image: url(":/qss_icons/dark/rc/radio_unchecked_focus.png");
}

QRadioButton::indicator:unchecked:disabled {
  image: url(":/qss_icons/dark/rc/radio_unchecked_disabled.png");
}

QRadioButton::indicator:checked {
  image: url(":/qss_icons/dark/rc/radio_checked.png");
}

QRadioButton::indicator:checked:hover,
QRadioButton::indicator:checked:focus,
QRadioButton::indicator:checked:pressed {
  image: url(":/qss_icons/dark/rc/radio_checked_focus.png");
}

QRadioButton::indicator:checked:disabled {
  image: url(":/qss_icons/dark/rc/radio_checked_disabled.png");
}

/* QMenuBar ---------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qmenubar
  
  --------------------------------------------------------------------------- */
QMenuBar {
  background-color: #455364;
  color: #e0e1e3;
  selection-background-color: #1a72bb;
}

QMenuBar::item {
  background: transparent;
}

QMenuBar::item:selected {
  background: transparent;
  background-color: #1a72bb;
}

QMenuBar::item:pressed {
  background-color: #1a72bb;
  color: #e0e1e3;
}

/* QMenu ------------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qmenu
  
  --------------------------------------------------------------------------- */
QMenu {
  color: #e0e1e3;
  background-color: #37414f;
  selection-background-color: #1a72bb;
}

QMenu::separator {
  background-color: #60798b;
  color: #e0e1e3;
}

QMenu::item {
  background-color: #37414f;
}

QMenu::item:selected {
  color: #e0e1e3;
  background-color: #1a72bb;
}

QMenu::item:pressed {
  background-color: #1a72bb;
}

QMenu::indicator:non-exclusive:unchecked {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked.png");
}

QMenu::indicator:non-exclusive:unchecked:hover,
QMenu::indicator:non-exclusive:unchecked:focus,
QMenu::indicator:non-exclusive:unchecked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked_focus.png");
}

QMenu::indicator:non-exclusive:unchecked:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked_disabled.png");
}

QMenu::indicator:non-exclusive:checked {
  image: url(":/qss_icons/dark/rc/checkbox_checked.png");
}

QMenu::indicator:non-exclusive:checked:hover,
QMenu::indicator:non-exclusive:checked:focus,
QMenu::indicator:non-exclusive:checked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_checked_focus.png");
}

QMenu::indicator:non-exclusive:checked:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_checked_disabled.png");
}

QMenu::indicator:non-exclusive:indeterminate {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate.png");
}

QMenu::indicator:non-exclusive:indeterminate:disabled {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate_disabled.png");
}

QMenu::indicator:non-exclusive:indeterminate:focus,
QMenu::indicator:non-exclusive:indeterminate:hover,
QMenu::indicator:non-exclusive:indeterminate:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate_focus.png");
}

QMenu::indicator:exclusive:unchecked {
  image: url(":/qss_icons/dark/rc/radio_unchecked.png");
}

QMenu::indicator:exclusive:unchecked:hover,
QMenu::indicator:exclusive:unchecked:focus,
QMenu::indicator:exclusive:unchecked:pressed {
  image: url(":/qss_icons/dark/rc/radio_unchecked_focus.png");
}

QMenu::indicator:exclusive:unchecked:disabled {
  image: url(":/qss_icons/dark/rc/radio_unchecked_disabled.png");
}

QMenu::indicator:exclusive:checked {
  image: url(":/qss_icons/dark/rc/radio_checked.png");
}

QMenu::indicator:exclusive:checked:hover,
QMenu::indicator:exclusive:checked:focus,
QMenu::indicator:exclusive:checked:pressed {
  image: url(":/qss_icons/dark/rc/radio_checked_focus.png");
}

QMenu::indicator:exclusive:checked:disabled {
  image: url(":/qss_icons/dark/rc/radio_checked_disabled.png");
}

/* QAbstractItemView ------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qcombobox
  
  --------------------------------------------------------------------------- */
QAbstractItemView {
  alternate-background-color: #19232d;
  color: #e0e1e3;
}

/* QAbstractScrollArea ----------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qabstractscrollarea
  
  --------------------------------------------------------------------------- */
QAbstractScrollArea {
  background-color: #19232d;
  color: #e0e1e3;
}

QAbstractScrollArea:disabled {
  color: #9da9b5;
}

/* QScrollArea ------------------------------------------------------------
  
  --------------------------------------------------------------------------- */
QScrollArea QWidget QWidget:disabled {
  background-color: #19232d;
}

/* QScrollBar -------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qscrollbar
  
  --------------------------------------------------------------------------- */
QScrollBar:horizontal {
  background-color: #19232d;
}

QScrollBar:vertical {
  background-color: #19232d;
}

QScrollBar::handle:horizontal {
  background-color: #60798b;
}

QScrollBar::handle:horizontal:hover {
  background-color: #346792;
}

QScrollBar::handle:vertical {
  background-color: #60798b;
}

QScrollBar::handle:vertical:hover {
  background-color: #346792;
}

QScrollBar::up-arrow:horizontal,
QScrollBar::down-arrow:horizontal {
  background: none;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical {
  background: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
  background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {
  background: none;
}

/* QTextEdit --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-specific-widgets
  
  --------------------------------------------------------------------------- */
QTextEdit {
  background-color: #19232d;
  color: #e0e1e3;
}

QTextEdit:selected {
  background: #346792;
  color: #455364;
}

/* QPlainTextEdit ---------------------------------------------------------
  
  --------------------------------------------------------------------------- */
QPlainTextEdit {
  background-color: #19232d;
  color: #e0e1e3;
}

QPlainTextEdit:selected {
  background: #346792;
  color: #455364;
}

/* QSizeGrip --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qsizegrip
  
  --------------------------------------------------------------------------- */
QSizeGrip {
  background: transparent;
  image: url(":/qss_icons/dark/rc/window_grip.png");
}

/* QToolBar ---------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbar
  
  --------------------------------------------------------------------------- */
QToolBar {
  background-color: #455364;
}

QToolBar:disabled {
  background-color: #455364;
}

QToolBar::handle:horizontal {
  image: url(":/qss_icons/dark/rc/toolbar_move_horizontal.png");
}

QToolBar::handle:vertical {
  image: url(":/qss_icons/dark/rc/toolbar_move_vertical.png");
}

QToolBar::separator:horizontal {
  image: url(":/qss_icons/dark/rc/toolbar_separator_horizontal.png");
}

QToolBar::separator:vertical {
  image: url(":/qss_icons/dark/rc/toolbar_separator_vertical.png");
}

QToolButton#qt_toolbar_ext_button {
  background: #455364;
  color: #e0e1e3;
}

/* QAbstractSpinBox -------------------------------------------------------
  
  --------------------------------------------------------------------------- */
QAbstractSpinBox {
  background-color: #19232d;
  color: #e0e1e3;
}

QAbstractSpinBox:up-button {
  background-color: transparent #19232d;
}

QAbstractSpinBox::up-arrow,
QAbstractSpinBox::up-arrow:disabled,
QAbstractSpinBox::up-arrow:off {
  image: url(":/qss_icons/dark/rc/arrow_up_disabled.png");
}

QAbstractSpinBox::up-arrow:hover {
  image: url(":/qss_icons/dark/rc/arrow_up.png");
}

QAbstractSpinBox:down-button {
  background-color: transparent #19232d;
}

QAbstractSpinBox::down-arrow,
QAbstractSpinBox::down-arrow:disabled,
QAbstractSpinBox::down-arrow:off {
  image: url(":/qss_icons/dark/rc/arrow_down_disabled.png");
}

QAbstractSpinBox::down-arrow:hover {
  image: url(":/qss_icons/dark/rc/arrow_down.png");
}

QAbstractSpinBox:hover {
  color: #e0e1e3;
}

QAbstractSpinBox:selected {
  background: #346792;
  color: #455364;
}

/* ------------------------------------------------------------------------ */
/* DISPLAYS --------------------------------------------------------------- */
/* ------------------------------------------------------------------------ */
/* QLabel -----------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qframe
  
  --------------------------------------------------------------------------- */
QLabel {
  background-color: #19232d;
  color: #e0e1e3;
}

QLabel:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

/* QTextBrowser -----------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qabstractscrollarea
  
  --------------------------------------------------------------------------- */
QTextBrowser {
  background-color: #19232d;
  color: #e0e1e3;
}

QTextBrowser:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

/* QGraphicsView ----------------------------------------------------------
  
  --------------------------------------------------------------------------- */
QGraphicsView {
  background-color: #19232d;
  color: #e0e1e3;
}

QGraphicsView:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

/* QCalendarWidget --------------------------------------------------------
  
  --------------------------------------------------------------------------- */

QCalendarWidget:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

/* QLCDNumber -------------------------------------------------------------
  
  --------------------------------------------------------------------------- */
QLCDNumber {
  background-color: #19232d;
  color: #e0e1e3;
}

QLCDNumber:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

/* QProgressBar -----------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qprogressbar
  
  --------------------------------------------------------------------------- */
QProgressBar {
  background-color: #19232d;
  color: #e0e1e3;
}

QProgressBar:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

QProgressBar::chunk {
  background-color: #346792;
  color: #19232d;
}

QProgressBar::chunk:disabled {
  background-color: #26486b;
  color: #9da9b5;
}

/* ------------------------------------------------------------------------ */
/* BUTTONS ---------------------------------------------------------------- */
/* ------------------------------------------------------------------------ */
/* QPushButton ------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qpushbutton
  
  --------------------------------------------------------------------------- */
QPushButton {
  background-color: #455364;
  color: #e0e1e3;
}

QPushButton:disabled {
  background-color: #455364;
  color: #9da9b5;
}

QPushButton:checked {
  background-color: #60798b;
}

QPushButton:checked:disabled {
  background-color: #60798b;
  color: #9da9b5;
}

QPushButton:checked:selected {
  background: #60798b;
}

QPushButton:hover {
  background-color: #54687a;
  color: #e0e1e3;
}

QPushButton:pressed {
  background-color: #60798b;
}

QPushButton:selected {
  background: #60798b;
  color: #e0e1e3;
}

/* QToolButton ------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbutton
  
  --------------------------------------------------------------------------- */
QToolButton {
  background-color: #455364;
  color: #e0e1e3;
}

QToolButton:disabled {
  background-color: #455364;
  color: #9da9b5;
}

QToolButton:checked {
  background-color: #60798b;
}

QToolButton:checked:disabled {
  background-color: #60798b;
  color: #9da9b5;
}

QToolButton:checked:hover {
  background-color: #54687a;
  color: #e0e1e3;
}

QToolButton:checked:pressed {
  background-color: #60798b;
}

QToolButton:checked:selected {
  background: #60798b;
  color: #e0e1e3;
}

QToolButton:hover {
  background-color: #54687a;
  color: #e0e1e3;
}

QToolButton:pressed {
  background-color: #60798b;
}

QToolButton:selected {
  background: #60798b;
  color: #e0e1e3;
}

QToolButton::menu-indicator {
  image: url(":/qss_icons/dark/rc/arrow_down.png");
}

QToolButton::menu-arrow {
  image: url(":/qss_icons/dark/rc/arrow_down.png");
}

QToolButton::menu-arrow:hover {
  image: url(":/qss_icons/dark/rc/arrow_down_focus.png");
}

/* QCommandLinkButton -----------------------------------------------------
  
  --------------------------------------------------------------------------- */
QCommandLinkButton {
  background-color: transparent;
  color: #e0e1e3;
}

QCommandLinkButton:disabled {
  background-color: transparent;
  color: #9da9b5;
}

/* ------------------------------------------------------------------------ */
/* INPUTS - NO FIELDS ----------------------------------------------------- */
/* ------------------------------------------------------------------------ */
/* QComboBox --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qcombobox
  
  --------------------------------------------------------------------------- */
QComboBox {
  selection-background-color: #346792;
}

QComboBox QAbstractItemView {
  background-color: #19232d;
  selection-background-color: #346792;
}

QComboBox QAbstractItemView:hover {
  background-color: #19232d;
  color: #e0e1e3;
}

QComboBox QAbstractItemView:selected {
  background: #346792;
  color: #455364;
}

QComboBox QAbstractItemView:alternate {
  background: #19232d;
}

QComboBox:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

QComboBox:on {
  selection-background-color: #346792;
}

QComboBox::indicator {
  background-color: transparent;
  selection-background-color: transparent;
  color: transparent;
  selection-color: transparent;
}

QComboBox::indicator:alternate {
  background: #19232d;
}

QComboBox::item:alternate {
  background: #19232d;
}

QComboBox::down-arrow {
  image: url(":/qss_icons/dark/rc/arrow_down_disabled.png");
}

QComboBox::down-arrow:on,
QComboBox::down-arrow:hover,
QComboBox::down-arrow:focus {
  image: url(":/qss_icons/dark/rc/arrow_down.png");
}

/* QSlider ----------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qslider
  
  --------------------------------------------------------------------------- */
QSlider:disabled {
  background: #19232d;
}

QSlider::groove:horizontal {
  background: #455364;
}

QSlider::groove:vertical {
  background: #455364;
}

QSlider::add-page:vertical {
  background: #346792;
}

QSlider::add-page:vertical :disabled {
  background: #26486b;
}

QSlider::sub-page:horizontal {
  background: #346792;
}

QSlider::sub-page:horizontal:disabled {
  background: #26486b;
}

QSlider::handle:horizontal {
  background: #9da9b5;
}

QSlider::handle:horizontal:hover {
  background: #346792;
}

QSlider::handle:vertical {
  background: #9da9b5;
}

QSlider::handle:vertical:hover {
  background: #346792;
}

/* QLineEdit --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qlineedit
  
  --------------------------------------------------------------------------- */
QLineEdit {
  background-color: #19232d;
  color: #e0e1e3;
}

QLineEdit:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

QLineEdit:hover {
  color: #e0e1e3;
}

QLineEdit:selected {
  background-color: #346792;
  color: #455364;
}

/* QTabWiget --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtabwidget-and-qtabbar
  
  --------------------------------------------------------------------------- */
QTabWidget {
  selection-background-color: #455364;
}

QTabWidget::pane:selected {
  background-color: #455364;
}

/* QTabBar ----------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtabwidget-and-qtabbar
  
  --------------------------------------------------------------------------- */
QTabBar::close-button,
QDockWidget QTabBar::close-button {
  image: url(":/qss_icons/dark/rc/window_close.png");
}

QTabBar::close-button:hover,
QDockWidget QTabBar::close-button:hover {
  image: url(":/qss_icons/dark/rc/window_close_focus.png");
}

QTabBar::close-button:pressed,
QDockWidget QTabBar::close-button:pressed {
  image: url(":/qss_icons/dark/rc/window_close_pressed.png");
}

QTabBar::tab:top:selected:disabled,
QDockWidget QTabBar::tab:top:selected:disabled {
  color: #9da9b5;
  background-color: #455364;
}

QTabBar::tab:bottom:selected:disabled,
QDockWidget QTabBar::tab:bottom:selected:disabled {
  color: #9da9b5;
  background-color: #455364;
}

QTabBar::tab:left:selected:disabled,
QDockWidget QTabBar::tab:left:selected:disabled {
  color: #9da9b5;
  background-color: #455364;
}

QTabBar::tab:right:selected:disabled,
QDockWidget QTabBar::tab:right:selected:disabled {
  color: #9da9b5;
  background-color: #455364;
}

QTabBar::tab:top:!selected:disabled,
QDockWidget QTabBar::tab:top:!selected:disabled {
  color: #9da9b5;
  background-color: #19232d;
}

QTabBar::tab:bottom:!selected:disabled,
QDockWidget QTabBar::tab:bottom:!selected:disabled {
  color: #9da9b5;
  background-color: #19232d;
}

QTabBar::tab:left:!selected:disabled,
QDockWidget QTabBar::tab:left:!selected:disabled {
  color: #9da9b5;
  background-color: #19232d;
}

QTabBar::tab:right:!selected:disabled,
QDockWidget QTabBar::tab:right:!selected:disabled {
  color: #9da9b5;
  background-color: #19232d;
}

QTabBar::tab:top,
QDockWidget QTabBar::tab:top {
  background-color: #455364;
}

QTabBar::tab:top:selected,
QDockWidget QTabBar::tab:top:selected {
  background-color: #54687a;
}

QTabBar::tab:bottom,
QDockWidget QTabBar::tab:bottom {
  background-color: #455364;
}

QTabBar::tab:bottom:selected,
QDockWidget QTabBar::tab:bottom:selected {
  background-color: #54687a;
}

QTabBar::tab:left,
QDockWidget QTabBar::tab:left {
  background-color: #455364;
}

QTabBar::tab:left:selected,
QDockWidget QTabBar::tab:left:selected {
  background-color: #54687a;
}

QTabBar::tab:right,
QDockWidget QTabBar::tab:right {
  background-color: #455364;
}

QTabBar::tab:right:selected,
QDockWidget QTabBar::tab:right:selected {
  background-color: #54687a;
}

QTabBar QToolButton,
QDockWidget QTabBar QToolButton {
  background-color: #455364;
}

QTabBar QToolButton:pressed,
QDockWidget QTabBar QToolButton:pressed {
  background-color: #455364;
}

/* QDockWidget -------------------------------------------------------------
  
  --------------------------------------------------------------------------- */
QDockWidget {
  background-color: #19232d;
  titlebar-close-icon: url(":/qss_icons/dark/rc/transparent.png");
  titlebar-normal-icon: url(":/qss_icons/dark/rc/transparent.png");
}

QDockWidget::title {
  background-color: #455364;
}

QDockWidget::close-button {
  icon-size: 12px;
  background: transparent;
  background-image: transparent;
  image: url(":/qss_icons/dark/rc/window_close.png");
}

QDockWidget::close-button:hover {
  image: url(":/qss_icons/dark/rc/window_close_focus.png");
}

QDockWidget::close-button:pressed {
  image: url(":/qss_icons/dark/rc/window_close_pressed.png");
}

QDockWidget::float-button {
  icon-size: 12px;
  background: transparent;
  background-image: transparent;
  image: url(":/qss_icons/dark/rc/window_undock.png");
}

QDockWidget::float-button:hover {
  image: url(":/qss_icons/dark/rc/window_undock_focus.png");
}

QDockWidget::float-button:pressed {
  image: url(":/qss_icons/dark/rc/window_undock_pressed.png");
}

/* QTreeView QListView QTableView -----------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtreeview
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qlistview
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtableview
  
  --------------------------------------------------------------------------- */
QTreeView:branch:selected,
QTreeView:branch:hover {
  background: url(":/qss_icons/dark/rc/transparent.png");
}

QTreeView:branch:!has-children:!has-siblings:adjoins-item {
}

QTreeView:branch:has-children:!has-siblings:closed,
QTreeView:branch:closed:has-children:has-siblings {
  image: url(":/qss_icons/dark/rc/branch_closed.png");
}

QTreeView:branch:open:has-children:!has-siblings,
QTreeView:branch:open:has-children:has-siblings {
  image: url(":/qss_icons/dark/rc/branch_open.png");
}

QTreeView:branch:has-children:!has-siblings:closed:hover,
QTreeView:branch:closed:has-children:has-siblings:hover {
  image: url(":/qss_icons/dark/rc/branch_closed_focus.png");
}

QTreeView:branch:open:has-children:!has-siblings:hover,
QTreeView:branch:open:has-children:has-siblings:hover {
  image: url(":/qss_icons/dark/rc/branch_open_focus.png");
}

QTreeView::indicator:checked,
QListView::indicator:checked,
QTableView::indicator:checked,
QColumnView::indicator:checked {
  image: url(":/qss_icons/dark/rc/checkbox_checked.png");
}

QTreeView::indicator:checked:hover,
QTreeView::indicator:checked:focus,
QTreeView::indicator:checked:pressed,
QListView::indicator:checked:hover,
QListView::indicator:checked:focus,
QListView::indicator:checked:pressed,
QTableView::indicator:checked:hover,
QTableView::indicator:checked:focus,
QTableView::indicator:checked:pressed,
QColumnView::indicator:checked:hover,
QColumnView::indicator:checked:focus,
QColumnView::indicator:checked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_checked_focus.png");
}

QTreeView::indicator:unchecked,
QListView::indicator:unchecked,
QTableView::indicator:unchecked,
QColumnView::indicator:unchecked {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked.png");
}

QTreeView::indicator:unchecked:hover,
QTreeView::indicator:unchecked:focus,
QTreeView::indicator:unchecked:pressed,
QListView::indicator:unchecked:hover,
QListView::indicator:unchecked:focus,
QListView::indicator:unchecked:pressed,
QTableView::indicator:unchecked:hover,
QTableView::indicator:unchecked:focus,
QTableView::indicator:unchecked:pressed,
QColumnView::indicator:unchecked:hover,
QColumnView::indicator:unchecked:focus,
QColumnView::indicator:unchecked:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_unchecked_focus.png");
}

QTreeView::indicator:indeterminate,
QListView::indicator:indeterminate,
QTableView::indicator:indeterminate,
QColumnView::indicator:indeterminate {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate.png");
}

QTreeView::indicator:indeterminate:hover,
QTreeView::indicator:indeterminate:focus,
QTreeView::indicator:indeterminate:pressed,
QListView::indicator:indeterminate:hover,
QListView::indicator:indeterminate:focus,
QListView::indicator:indeterminate:pressed,
QTableView::indicator:indeterminate:hover,
QTableView::indicator:indeterminate:focus,
QTableView::indicator:indeterminate:pressed,
QColumnView::indicator:indeterminate:hover,
QColumnView::indicator:indeterminate:focus,
QColumnView::indicator:indeterminate:pressed {
  image: url(":/qss_icons/dark/rc/checkbox_indeterminate_focus.png");
}

QTreeView,
QListView,
QTableView,
QColumnView {
  background-color: #19232d;
  color: #e0e1e3;
  gridline-color: #455364;
}

QTreeView:disabled,
QListView:disabled,
QTableView:disabled,
QColumnView:disabled {
  background-color: #19232d;
  color: #9da9b5;
}

QTreeView:selected,
QListView:selected,
QTableView:selected,
QColumnView:selected {
  background-color: #346792;
  color: #455364;
}

QTreeView::item:pressed,
QListView::item:pressed,
QTableView::item:pressed,
QColumnView::item:pressed {
  background-color: #346792;
}

QTreeView::item:selected:active,
QListView::item:selected:active,
QTableView::item:selected:active,
QColumnView::item:selected:active {
  background-color: #346792;
}

QTreeView::item:selected:!active,
QListView::item:selected:!active,
QTableView::item:selected:!active,
QColumnView::item:selected:!active {
  color: #e0e1e3;
  background-color: #37414f;
}

QTreeView::item:!selected:hover,
QListView::item:!selected:hover,
QTableView::item:!selected:hover,
QColumnView::item:!selected:hover {
  color: #e0e1e3;
  background-color: #37414f;
}

QTableCornerButton::section {
  background-color: #19232d;
}

/* QHeaderView ------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qheaderview
  
  --------------------------------------------------------------------------- */
QHeaderView {
  background-color: #455364;
}

QHeaderView:disabled {
  background-color: #455364;
}

QHeaderView::section {
  background-color: #455364;
  color: #e0e1e3;
}

QHeaderView::section::horizontal:disabled {
  color: #9da9b5;
}

QHeaderView::section::vertical:disabled {
  color: #9da9b5;
}

QHeaderView::down-arrow {
  /* transparent arrow background and size */
  background-color: #455364;
  image: url(":/qss_icons/dark/rc/arrow_down.png");
}

QHeaderView::up-arrow {
  background-color: #455364;
  image: url(":/qss_icons/dark/rc/arrow_up.png");
}

/* QToolBox --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qtoolbox
  
  --------------------------------------------------------------------------- */
QToolBox::tab {
  background-color: #19232d;
  color: #e0e1e3;
}

QToolBox::tab:disabled {
  color: #9da9b5;
}

QToolBox::tab:selected {
  background-color: #60798b;
}

QToolBox::tab:selected:disabled {
  background-color: #455364;
}

QToolBox::tab:!selected {
  background-color: #455364;
}

QToolBox::tab:!selected:disabled {
  background-color: #19232d;
}

QToolBox QScrollArea QWidget QWidget {
  background-color: #19232d;
}

/* QFrame -----------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qframe
  https://doc.qt.io/qt-5/qframe.html#-prop
  https://doc.qt.io/qt-5/qframe.html#details
  https://stackoverflow.com/questions/14581498/qt-stylesheet-for-hline-vline-color
  
  --------------------------------------------------------------------------- */
.QFrame[frameShape="4"] {
  background-color: #455364;
}

.QFrame[frameShape="5"] {
  background-color: #455364;
}

/* QSplitter --------------------------------------------------------------
  
  https://doc.qt.io/qt-5/stylesheet-examples.html#customizing-qsplitter
  
  --------------------------------------------------------------------------- */
QSplitter {
  background-color: #455364;
}

QSplitter::handle {
  background-color: #455364;
}

QSplitter::handle:hover {
  background-color: #9da9b5;
}

QSplitter::handle:horizontal {
  image: url(":/qss_icons/dark/rc/line_vertical.png");
}

QSplitter::handle:vertical {
  image: url(":/qss_icons/dark/rc/line_horizontal.png");
}

/* QDateEdit, QDateTimeEdit -----------------------------------------------
  
  --------------------------------------------------------------------------- */
QDateEdit,
QDateTimeEdit {
  selection-background-color: #346792;
}

QDateEdit:on,
QDateTimeEdit:on {
  selection-background-color: #346792;
}

QDateEdit::down-arrow,
QDateTimeEdit::down-arrow {
  image: url(":/qss_icons/dark/rc/arrow_down_disabled.png");
}

QDateEdit::down-arrow:on,
QDateEdit::down-arrow:hover,
QDateEdit::down-arrow:focus,
QDateTimeEdit::down-arrow:on,
QDateTimeEdit::down-arrow:hover,
QDateTimeEdit::down-arrow:focus {
  image: url(":/qss_icons/dark/rc/arrow_down.png");
}

QDateEdit QAbstractItemView,
QDateTimeEdit QAbstractItemView {
  background-color: #19232d;
  selection-background-color: #346792;
}

/* QAbstractView ----------------------------------------------------------
  
  --------------------------------------------------------------------------- */
QAbstractView:hover {
  color: #e0e1e3;
}

QAbstractView:selected {
  background: #346792;
  color: #455364;
}
